In [184]:
import pandas as pd
import numpy as np

In [185]:
df = pd.read_excel('India data_3_3_2020.xlsx')

In [186]:
df.to_csv("sid_covid.csv")

In [187]:
df = pd.read_csv("sid_covid.csv")

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3110 entries, 0 to 3109
Data columns (total 21 columns):
Unnamed: 0                                   3110 non-null int64
sno                                          3109 non-null float64
Patient Number                               3108 non-null float64
State Patient Number                         726 non-null object
Date Announced                               3108 non-null object
Age Bracket                                  780 non-null object
Gender                                       933 non-null object
Detected City                                821 non-null object
Detected District                            2177 non-null object
Detected State                               3108 non-null object
State_code                                   3108 non-null object
Current Status                               3108 non-null object
Notes                                        2425 non-null object
Contracted from which Patient (Suspected)    822 non-null object
Nationality                                  425 non-null object
Type of transmission                         1764 non-null object
Status Change Date                           3105 non-null object
Source_1                                     3065 non-null object
Source_2                                     1056 non-null object
Source_3                                     162 non-null object
Backup Notes                                 361 non-null object
dtypes: float64(2), int64(1), object(18)
memory usage: 510.4+ KB

In [189]:
df.head()

,Unnamed: 0,sno,Patient Number,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,...,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,1.0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,...,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,2,3.0,2.0,KL-AL-P1,2020-02-02 00:00:00,NaN,NaN,Alappuzha,Alappuzha,Kerala,...,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
3,3,4.0,3.0,KL-KS-P1,2020-03-02 00:00:00,NaN,NaN,Kasaragod,Kasaragod,Kerala,...,Recovered,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
4,4,5.0,4.0,DL-P1,2020-02-03 00:00:00,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,...,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria

In [190]:
df.drop([0], inplace = True)

In [191]:
df.drop("Unnamed: 0",axis=1,inplace=True)

# total entries = 3109

# PreProcessing 20 columns

#1 sno

In [192]:
len(df['sno'].unique()) # all are unique elements

3109

In [193]:
df.drop("sno",axis=1,inplace=True)

#2 Patient Number

In [194]:
len(df['Patient Number'].unique())  #all are unique

3109

In [195]:
df.drop("Patient Number",axis=1,inplace=True)

#3 State Patient Number

In [196]:
len(df['State Patient Number'].unique())  # 700+ unique entries

722

In [197]:
df['State Patient Number'].isna().sum()   #almomst 75% is missing data (suggest what to do about it)

2383

In [198]:
df['State Patient Number']

1       KL-TS-P1
2       KL-AL-P1
3       KL-KS-P1
4          DL-P1
5          TS-P1
          ...
3105         NaN
3106         NaN
3107         NaN
3108         NaN
3109         NaN
Name: State Patient Number, Length: 3109, dtype: object

#4 Date Announced

In [199]:
len(df['Date Announced'].unique())   # 37 days since first reporting

37

In [200]:
df['Date Announced'].isna().sum() # only one NAN entry (that can be corrected mannualy using eye-balling)

1

In [201]:
df['Date Announced']

1                30/01/2020
2       2020-02-02 00:00:00
3       2020-03-02 00:00:00
4       2020-02-03 00:00:00
5       2020-02-03 00:00:00
               ...
3105    2020-03-04 00:00:00
3106    2020-03-04 00:00:00
3107    2020-03-04 00:00:00
3108    2020-03-04 00:00:00
3109                    NaN
Name: Date Announced, Length: 3109, dtype: object

In [202]:
df['Date Announced']=pd.to_datetime(df['Date Announced'])

In [203]:
df['Date Announced']

1      2020-01-30
2      2020-02-02
3      2020-03-02
4      2020-02-03
5      2020-02-03
          ...
3105   2020-03-04
3106   2020-03-04
3107   2020-03-04
3108   2020-03-04
3109          NaT
Name: Date Announced, Length: 3109, dtype: datetime64[ns]

#5 Age Bracket

In [204]:
df['Age Bracket']

1        20
2       NaN
3       NaN
4        45
5        24
       ...
3105    NaN
3106    NaN
3107    NaN
3108    NaN
3109    NaN
Name: Age Bracket, Length: 3109, dtype: object

In [205]:
df['Age Bracket'].isna().sum()  #again almost 75% is NAN  -- suggest something

2329

In [206]:
len(df['Age Bracket'].unique())  #81 diff age types

81

#6 Gender

In [207]:
df['Gender']

1         F
2       NaN
3       NaN
4         M
5         M
       ...
3105    NaN
3106    NaN
3107    NaN
3108    NaN
3109    NaN
Name: Gender, Length: 3109, dtype: object

In [208]:
df['Gender'].isna().sum()  #again almost 75% is NAN  -- suggest something

2176

In [209]:
df['Gender'].unique()

array(['F', nan, 'M'], dtype=object)

#7 Detected City

In [210]:
df['Detected City']

1                       Thrissur
2                      Alappuzha
3                      Kasaragod
4       East Delhi (Mayur Vihar)
5                      Hyderabad
                  ...
3105                         NaN
3106                         NaN
3107                         NaN
3108                         NaN
3109                         NaN
Name: Detected City, Length: 3109, dtype: object

In [211]:
df['Detected City'].isna().sum()   #75% NAN

2288

In [212]:
len(df['Detected City'].unique())   #230 diff cities

230

#8 Detected District

In [213]:
df['Detected District']

1                  Thrissur
2                 Alappuzha
3                 Kasaragod
4                East Delhi
5                 Hyderabad
               ...
3105                    NaN
3106                 Kamrup
3107    Kamrup Metropolitan
3108               Morigaon
3109                    NaN
Name: Detected District, Length: 3109, dtype: object

In [214]:
df['Detected District'].isna().sum()   #33% NAN

932

In [215]:
len(df['Detected District'].unique())

224

#9 Detected State

In [216]:
df['Detected State'].isna().sum() #only one NAN entry

1

In [217]:
len(df['Detected State'].unique())  #it is spread in 31 states so far

31

#10 State_code

In [218]:
df['State_code']

1        KL
2        KL
3        KL
4        DL
5        TG
       ...
3105     UP
3106     AS
3107     AS
3108     AS
3109    NaN
Name: State_code, Length: 3109, dtype: object

In [219]:
df['State_code'].isna().sum()  # only one NaN

1

In [220]:
len(df['State_code'].unique()) #it is of no use since same as state therefore droping it

31

In [221]:
df.drop("State_code",axis=1,inplace=True)

#11 Current Status

In [222]:
df['Current Status'].unique()   #there are 4 classes in Current status

array(['Recovered', 'Hospitalized', 'Deceased', 'Migrated', nan],
      dtype=object)

In [223]:
df['Current Status'].isna().sum() # wow only one is missing

1

#12 Notes

In [224]:
df['Notes']

1                                    Travelled from Wuhan
2                                    Travelled from Wuhan
3                                    Travelled from Wuhan
4                           Travelled from Austria, Italy
5       Travelled from Dubai to Bangalore on 20th Feb,...
                              ...
3105                                                  NaN
3106                  Attended Delhi Religious Conference
3107                  Attended Delhi Religious Conference
3108                  Attended Delhi Religious Conference
3109                                                  NaN
Name: Notes, Length: 3109, dtype: object

In [225]:
len(df['Notes'].unique())   #there are 592 diff unique values

592

In [226]:
df['Notes'].isna().sum()    #25% is NAN

684

#13 Contracted from which Patient (Suspected)

In [227]:
df['Contracted from which Patient (Suspected)']

1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
       ...
3105    NaN
3106     E0
3107     E0
3108     E0
3109    NaN
Name: Contracted from which Patient (Suspected), Length: 3109, dtype: object

In [228]:
len(df['Contracted from which Patient (Suspected)'].unique())  #total 109 unique values

109

In [229]:
df['Contracted from which Patient (Suspected)'].isna().sum() #75 % NAN

2287

#14 Nationality

In [230]:
df['Nationality'].unique()

array(['India', 'Italy', 'Canada', 'United Kingdom', 'Phillipines',
       'Indonesia', nan, 'Thailand', 'United States of America', 'Indian',
       'Myanmar'], dtype=object)

In [231]:
len(df['Nationality'].unique()) # total from 11 diff countries

11

In [232]:
df['Nationality'].isna().sum()  #75% missing  -- can be treated as INDIANS

2684

#15 Type of transmission

In [233]:
df['Type of transmission']

1       Imported
2       Imported
3       Imported
4       Imported
5       Imported
          ...
3105         NaN
3106         NaN
3107         NaN
3108         NaN
3109         NaN
Name: Type of transmission, Length: 3109, dtype: object

In [234]:
df['Type of transmission'].unique() # only 3 diff categories

array(['Imported', 'Local', 'TBD', nan], dtype=object)

In [235]:
df['Type of transmission'].isna().sum() #40% missing  can be treated as LOCAL

1345

#16 Status Change Date

In [236]:
df['Status Change Date']=pd.to_datetime(df['Status Change Date'])

In [237]:
df['Status Change Date']

1      2020-02-14
2      2020-02-14
3      2020-02-14
4      2020-03-15
5      2020-02-03
          ...
3105   2020-03-04
3106   2020-03-04
3107   2020-03-04
3108   2020-03-04
3109          NaT
Name: Status Change Date, Length: 3109, dtype: datetime64[ns]

In [238]:
df['Status Change Date'].isna().sum()  # 4 missing dates of status

4

In [239]:
#17 Source_1
#18 Source_2
#19 Source_3

In [240]:
df['Source'] = df['Source_1'] +' ' +  df['Source_2'] + ' ' + df['Source_3']

In [241]:
df.drop(["Source_1","Source_2","Source_3"],axis=1,inplace=True)

In [242]:
df['Source'].isna().sum()  # almost no source available

2949

#20 backup notes

In [243]:
len(df['Backup Notes'].unique())  #222 unique entries ---- can be merged with NOTES

222

In [244]:
df['Backup Notes'].isna().sum()   #80% NAN

2748

In [245]:
df['Notes'].isna().sum()

684

In [246]:
df['Notes']

1                                    Travelled from Wuhan
2                                    Travelled from Wuhan
3                                    Travelled from Wuhan
4                           Travelled from Austria, Italy
5       Travelled from Dubai to Bangalore on 20th Feb,...
                              ...
3105                                                  NaN
3106                  Attended Delhi Religious Conference
3107                  Attended Delhi Religious Conference
3108                  Attended Delhi Religious Conference
3109                                                  NaN
Name: Notes, Length: 3109, dtype: object

In [247]:
df['Notes']=df['Notes'].fillna(" ")

In [248]:
df['Backup Notes'] = df['Backup Notes'].fillna(" ")

In [249]:
df['Notes'] = df['Notes'] +' ' +  df['Backup Notes']

In [251]:
df.drop("Backup Notes",axis=1,inplace=True)

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3109 entries, 1 to 3109
Data columns (total 14 columns):
State Patient Number                         726 non-null object
Date Announced                               3108 non-null datetime64[ns]
Age Bracket                                  780 non-null object
Gender                                       933 non-null object
Detected City                                821 non-null object
Detected District                            2177 non-null object
Detected State                               3108 non-null object
Current Status                               3108 non-null object
Notes                                        3109 non-null object
Contracted from which Patient (Suspected)    822 non-null object
Nationality                                  425 non-null object
Type of transmission                         1764 non-null object
Status Change Date                           3105 non-null datetime64[ns]
Source                                       160 non-null object
dtypes: datetime64[ns](2), object(12)
memory usage: 364.3+ KB

In [253]:
#only 14 columns remaining